/* Styles.css */

/*stackPane*/
#stackPaneId {
    -fx-background-color: #f4f4f4;
}
/*ancorPane*/
#ancorPane1, #ancorPane2, #ancorPane3 {
    -fx-background-color: #ffffff;
    -fx-border-color: #dddddd;
    -fx-border-width: 1px;
}
/*choosers*/
#hoursChoiceId, #minuteChoiceId, #dayChoiceId, #monthChoiceId,#hourChoiceIdSleep, #minuteChoiceIdSleep, #dayChoiceIdSleep, #monthChoiceIdSleep, #yearChoiceIdSleep, #fileActionChooser,#valueInsertByUserBtn,#chooseCounterBtn, #chooserActionCounterId{
    -fx-background-color: #4CAF50;
    -fx-text-fill: #ffffff;
}
/*tables*/
#rulesTable, #counterTable {
    -fx-background-color: #4CAF50;
}
/*continue buttons*/
#addRuleBtn, #backSelectCounterBtn, #continueBtn, #backBtn1, #confirmBtn, #backBtn2,  #activateRuleBtn, #deactivateRuleBtn, #sleepRuleBtn, #confirmSleepBtn, #backSleepBtn, #file, #destDirBtn, #addActionBtn, #selectCounterForTriggerBtn,#selectCounterForTriggerBtn2,#addCounterBtn, #backCounterBtn{
    -fx-background-color: #4CAF50;
    -fx-text-fill: #ffffff;
}
/*delete buttons*/
#deleteBtn, #deleteCounterBtn{
    -fx-background-color: #ff0000;
    -fx-text-fill: #ffffff;
}
/*labels*/
#nameRuleText, #textMessageId, #fileNameLbl, #maxFileDimensionTxt, #fileActionLaunchTxt{
    -fx-background-color: #f0f0f0;
}
/*tabs*/
#textMessageTab, #audioTab, #timeTab, #dayTab, #monthTab, #fullDateTab, #existingFileTab, #fileDimensionTab, #fileTab,#counterTab,#controlExitStatusTab, #dataPickerId{
    -fx-background-color: #4CAF50;
    -fx-text-fill: #ffffff;
}
/*file chooser buttons*/
#fileChooserBtn,#fileDimensionChooseFileBtn,#file,#destDirBtn, #directoryChoosingBtn, #withActionBtn, #AddMoreTriggerBtn, #modifeCounterBtn, #withTriggerBtn,#directoryChoosingControllExitStatusBtn{
    -fx-background-color: #2196F3;
    -fx-text-fill: #ffffff;
}

/* counter btn*/
#counterBtn, #valueInsertByUserBtn, #addCounterBtn, #chooseCounterBtn{
    -fx-background-color: 	#FFD700;
    -fx-text-fill: #ffffff;
}



